# =========================
# Node / Angular / Vite
# =========================
node_modules/
dist/
Web/weather-app/.tsbuildinfo
Web/weather-app/vite/deps/
Web/weather-app/vite/deps_ssr/
npm-debug.log*
yarn-error.log*
/.angular/cache
/.sass-cache

# Environment files
Web/.env
Web/environments/environment.ts
Web/.env.example  # se quiser versionar o exemplo, mantenha

# =========================
# .NET / C#
# =========================
bin/
obj/
publish/
*.user
*.suo
*.userosscache
*.nupkg
*.csproj.user
*.sln.docstates
appsettings.Development.json

# =========================
# IDEs / Editors
# =========================
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.idea/
.project
.classpath
*.launch
.settings/
.vs/

# =========================
# Logs / Temp / OS
# =========================
*.log
*.tmp
*.temp
TestResults/
.DS_Store
Thumbs.db
.history/